<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactez-nous</title>

    <link rel="stylesheet" href="styles.css">


</head>

<body>
    <div class="bloc">
        <div class="navbar">
            <nav>
                <a href="/">Accueil</a>
                <a href="contact">Contactez-nous</a>
                <a href="services">Nos services</a>
            </nav>
        </div>
        <br />

        <!--formulaire-->
        <div class="formulaire">
            <form>
                <h2> Pour nous contacter </h2>
                <div>
                    <label>Nom :</label>
                    <input class="nom" type="text" placeholder="Votre nom" name="nom">
                </div>
                <div>
                    <label>Prénom : </label>
                    <input class="prenom" type="text" name="prenom" placeholder="Votre prénom">
                </div>
                <div>
                    <label>Adresse e-mail :</label>
                    <input class="mail" type="email" name="mail" placeholder="Votre e-mail">
                </div>
                <div>
                    <label>N° de téléphone :</label>
                    <input class="tel" type="tel" name="tel" placeholder="Votre N° de téléphone">
                </div>
                <div>
                    <label>Votre texte :</label><br>
                    <textarea class="saisie" name="message"></textarea>
                </div>

                <input class="btn" type="button" name="submit" value="Envoyer">

            </form>
        </div>

    </div>
    </div>

</body>

</html>