<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nos services</title>

    <link rel="stylesheet" href="styles.css">


</head>

<body>
    <div class="bloc">
        <div class="navbar">
            <nav>
                <a href="/">Accueil</a>
                <a href="contact">Contactez-nous</a>
                <a href="services">Nos services</a>
            </nav>
        </div>

        <h3> Nos formations</h3>
        <div class="learn">
            <ul>
                <li><a href="#">Microsoft Azure</a></li>
                <li><a href="#">AWS</li></a>
                <li><a href="#">Red Hat</li></a>
                <li><a href="#">Développement Web</li></a>
                <li><a href="#">Data sciences</li></a>
            </ul>
        </div>
    </div>

</body>

</html>